.App {
  /* text-align: center; */
  font-family: 'Lato', sans-serif;
  margin: 40px;
  height: 100%;
}

.content-area-container {
  border-radius: 30px;
  box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.3);
  padding: 20px;

}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  /* height: 140px; */
}

.App-header {
  /* background-color: green; */
  /* height: 150px; */
  padding: 40px;
  color: green;
  /* width: 100vw; */
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  font-style: italic;
  text-align: center;
  border-radius: 30px;
}

.header-text h1{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}



.App-title {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}



/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */


.App-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.about-subhead ul li {
  display: flex;
  justify-content: center;
}




.wrapper {
  display: flex;
  justify-content: space-between;
  background-color: green;
  /* height: 150px; */
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  /* width: 100vw; */
  /* margin-bottom: 40px; */
  flex-direction: row;
  text-align: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  cursor: pointer;
}

.social-nav {
  display: flex;
  flex-direction: row;

}


.checkout-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: yellow;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
  margin-bottom: 40px;
  flex-direction: row-reverse;
  text-align: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
}

.search-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 30%;
  position: absolute;

  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
}

.search {
  width: 100%;
  position: relative;
  padding-bottom: 80px;
  justify-content: space-around;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}










/*------FOOTER LINKS STYLES------*/
.FooterLinks{
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-left: 48px;
  margin-right: 12px;
  padding-left: 12px;
  padding-right: 12px;
  align-content: space-around;
  color: #222;
  font-size: 11px;
  cursor: pointer;
}
.FooterLinks > div{
  flex-grow: 1;
  margin-left: 12px;
  margin-right: 12px;
  padding-left: 12px;
  padding-right: 12px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.FooterLinks > div > a{
  text-decoration: none;
  color: #222;
  font-weight: 100;
  padding-top: 6px;
  padding-bottom: 6px;
}
.FooterLinks > div > a :hover{
  text-decoration: underline;
}
.FooterLinks > span{
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: flex-start;
  text-decoration: none;
}
.FooterLinks > a{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  text-decoration: none;
  text-decoration-style: wavy;
}
.FooterLinks > a span{
  text-decoration: none;
}

.Footer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
}

.about-footer {
  display: flex;
  flex-direction: row;
}

.terms {
  display: flex;
  flex-direction: row;

}

.copyright {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-left: auto;
  color: rgba(0, 0, 0, 0.5);
}

.AboutLinks{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    color: rgba(0, 0, 0, 0.5);


  }
  .AboutLinks a img{
    display: flex;
    flex-direction: row-reverse;
    align-content: space-between;
    justify-content: flex-end;
    /* padding: 40px; */
  }



  .AboutLinks a{
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    color: rgba(0, 0, 0, 0.5);
}





.privacy-para p{
  display: flex;
  flex-direction: row;
  margin-left: auto;

}

.privacy-para h3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

.terms-para h3{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.about-para p{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
